# === Output folders ===
/dist/
/tmp/
/out-tsc/
/bazel-out/

# === Angular CLI Cache ===
/.angular/cache/
/browser-esbuild/
/.cache/

# === Node dependencies ===
/node_modules/
npm-debug.log*

# === Logs ===
*.log

# === IDEs ===
# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.editorconfig

# === Environment and Secrets ===
.env
.env.*
*.local
*.local.*