<div class="sidebar">
  <ul class="menu">
    <li
      *ngFor="let item of menuItems"
      class="menu-item"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span *ngIf="item.icon" class="material-icons">{{ item.icon }}</span>
      <span class="menu-title">{{ item.title }}</span>
    </li>

    <li class="menu-separator"></li>

    <li
      class="logout-item"
      [routerLink]="logoutItem.route"
      routerLinkActive="active"
    >
      <span class="material-icons">{{ logoutItem.icon }}</span>
      <span class="menu-title">{{ logoutItem.title }}</span>
    </li>
  </ul>
</div>
