<div class="container">
    <h2>Añadir Disponibilidad</h2>
    <form [formGroup]="disponibilidadForm" (ngSubmit)="onSubmit($event)">
        <div class="form-group">
            <label for="dia_semana">Día de la Semana</label>
            <select formControlName="dia_semana" id="dia_semana" class="form-control">
                <option value="" disabled>Selecciona el día para agregar tu disponibilidad</option>
                <option *ngFor="let day of availableDays" [value]="day">{{day | titlecase}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="hora_inicio">Hora de Inicio</label>
            <select formControlName="hora_inicio" id="hora_inicio" class="form-control">
                <option value="" disabled>Selecciona una hora</option>
                <option *ngFor="let hour of availableHours" [value]="hour">{{hour}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="disponibilidadForm.invalid">Crear</button>
    </form>

    <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
    </div>
</div>